.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}

.signup{
    background: linear-gradient(to bottom right, #B5179E, #7209B7);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 0;
    padding: 0;
    width: auto;
    border: 0;
}

@media screen and (min-width:500px){
   
    .signup{
        color: #ffffff;
        border:1px solid #7209B7;
        border-radius: 4rem;
        /* border-image: linear-gradient(to bottom right, #B5179E, #7209B7); */
        border-image-slice: 1;
        padding: 1rem 3rem;
        background: transparent;
    }
    .signup:focus,
    .signup:hover{
        background: linear-gradient(to bottom right, #B5179E, #7209B7);
    }
}